@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  background-image: url(./img/bg-pattern-desktop.svg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 788px;
  height: 800px;

  display: flex;
  flex-direction: column;
}

.div_img {
  margin-left: 170px;
  max-width: 563px;
  height: 800px;
}

@media screen and (min-width: 400px) {
  main {
    flex-direction: row;
  }
}

.main_img {
  margin-left: 168px;
  margin-top: 75.68px;
  margin-bottom: 136.74px;
}

.main_we {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 17.3206px;
  color: #ce9898;
  margin-left: 165px;
  margin-top: 20px;
  margin-bottom: -65px;
}

.main_soon {
  font-family: "Josefin Sans", sans-serif;
  width: 444px;
  margin-left: 165px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 71px;
  letter-spacing: 17.3206px;
  color: #423a3a;
  margin-bottom: 32px;
}

.main_hello {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ce9898;
  width: 444px;
  margin-left: 165px;
  height: 84px;
  margin-bottom: 40px;
}

/* animation */
.p {
  transform: translateX(-100%);
  text-transform: uppercase;
  animation: comein 0.8s linear forwards;
}

@keyframes comein {
  to {
    transform: translateX(0);
  }
}

.fellow {
  transform: translateX(100%);
  text-transform: uppercase;
  animation: fellow 0.8s linear forwards;
}

@keyframes fellow {
  to {
    transform: translateX(0);
  }
}

form {
  position: relative;
}

form.error {
}

input {
  background-color: transparent;
  border: 1px solid hsl(0, 36%, 70%);
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  width: 390px;
  margin-left: 165px;
}

button {
  background-image: linear-gradient(135deg, hsl(0, 93%, 68%) hsl(0, 91%, 74%));
  box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
  border: none;
  background: hsl(0, 93%, 68%);
  border-radius: 50px;
  padding: 13.5px;
  position: absolute;
  transition: opacity 0.2s ease;
  width: 100px;
  left: 520px;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

small {
  color: hsl(0, 93%, 68%);
  display: none;
  margin-top: 20px;

  margin-left: 180px;
}

form.error .error-icon {
  display: block;
}

.error-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 485px;
  transform: translateY(25%);
}

form.error small {
  display: block;
}
